ClientTIXMovie/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataTransaksi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataTransaksi" nillable="true" type="tns:DataTransaksi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataTransaksi" nillable="true" type="tns:ArrayOfDataTransaksi" />
  <xs:complexType name="DataTransaksi">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDTransaksi" type="xs:int" />
      <xs:element minOccurs="0" name="Film" type="xs:int" />
      <xs:element minOccurs="0" name="Bioskop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Studio" type="xs:int" />
      <xs:element minOccurs="0" name="Tanggal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JamTayang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Harga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTransaksi" nillable="true" type="tns:DataTransaksi" />
  <xs:complexType name="ArrayOfDataFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataFilm" nillable="true" type="tns:DataFilm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataFilm" nillable="true" type="tns:ArrayOfDataFilm" />
  <xs:complexType name="DataFilm">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="JudulFilm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deskripsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Harga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataFilm" nillable="true" type="tns:DataFilm" />
  <xs:complexType name="ArrayOfStatusTiket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusTiket" nillable="true" type="tns:StatusTiket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusTiket" nillable="true" type="tns:ArrayOfStatusTiket" />
  <xs:complexType name="StatusTiket">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDStatus" type="xs:int" />
      <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusTiket" nillable="true" type="tns:StatusTiket" />
  <xs:complexType name="ArrayOfDataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRegister" nillable="true" type="tns:DataRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRegister" nillable="true" type="tns:ArrayOfDataRegister" />
  <xs:complexType name="DataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRegister" nillable="true" type="tns:DataRegister" />
</xs:schema>