ClientTIXMovie/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceTIXMovie/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" />
  <xs:element name="transaksitiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDFilm" type="xs:int" />
        <xs:element minOccurs="0" name="Bioskop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Studio" type="xs:int" />
        <xs:element minOccurs="0" name="Tanggal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JamTayang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Row" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Seat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Harga" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaksitiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaksitiketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edittransaksitiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edittransaksitiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edittransaksitiketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetransaksitiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletetransaksitiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletetransaksitiketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="film">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudulFilm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Deskripsi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Harga" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editfilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="Harga" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editfilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editfilmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletefilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudulFilm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletefilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletefilmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="statustiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDStatus" type="xs:int" />
        <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="statustiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statustiketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataTransaksi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataTransaksiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" minOccurs="0" name="DataTransaksiResult" nillable="true" type="q1:ArrayOfDataTransaksi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFilm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" minOccurs="0" name="DataFilmResult" nillable="true" type="q2:ArrayOfDataFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusTiket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusTiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" minOccurs="0" name="StatusTiketResult" nillable="true" type="q3:ArrayOfStatusTiket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" minOccurs="0" name="DataRegistResult" nillable="true" type="q4:ArrayOfDataRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>