ClientTIXMovie/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceTIXMovie/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceTIXMovie/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceTIXMovie/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceTIXMovie" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_transaksitiket_InputMessage">
    <wsdl:part name="parameters" element="tns:transaksitiket" />
  </wsdl:message>
  <wsdl:message name="IService1_transaksitiket_OutputMessage">
    <wsdl:part name="parameters" element="tns:transaksitiketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_edittransaksitiket_InputMessage">
    <wsdl:part name="parameters" element="tns:edittransaksitiket" />
  </wsdl:message>
  <wsdl:message name="IService1_edittransaksitiket_OutputMessage">
    <wsdl:part name="parameters" element="tns:edittransaksitiketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletetransaksitiket_InputMessage">
    <wsdl:part name="parameters" element="tns:deletetransaksitiket" />
  </wsdl:message>
  <wsdl:message name="IService1_deletetransaksitiket_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletetransaksitiketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_film_InputMessage">
    <wsdl:part name="parameters" element="tns:film" />
  </wsdl:message>
  <wsdl:message name="IService1_film_OutputMessage">
    <wsdl:part name="parameters" element="tns:filmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editfilm_InputMessage">
    <wsdl:part name="parameters" element="tns:editfilm" />
  </wsdl:message>
  <wsdl:message name="IService1_editfilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:editfilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletefilm_InputMessage">
    <wsdl:part name="parameters" element="tns:deletefilm" />
  </wsdl:message>
  <wsdl:message name="IService1_deletefilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletefilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_statustiket_InputMessage">
    <wsdl:part name="parameters" element="tns:statustiket" />
  </wsdl:message>
  <wsdl:message name="IService1_statustiket_OutputMessage">
    <wsdl:part name="parameters" element="tns:statustiketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DataTransaksi_InputMessage">
    <wsdl:part name="parameters" element="tns:DataTransaksi" />
  </wsdl:message>
  <wsdl:message name="IService1_DataTransaksi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataTransaksiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DataFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:DataFilm" />
  </wsdl:message>
  <wsdl:message name="IService1_DataFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StatusTiket_InputMessage">
    <wsdl:part name="parameters" element="tns:StatusTiket" />
  </wsdl:message>
  <wsdl:message name="IService1_StatusTiket_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusTiketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DataRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:DataRegist" />
  </wsdl:message>
  <wsdl:message name="IService1_DataRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataRegistResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="transaksitiket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transaksitiket" message="tns:IService1_transaksitiket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transaksitiketResponse" message="tns:IService1_transaksitiket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edittransaksitiket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/edittransaksitiket" message="tns:IService1_edittransaksitiket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/edittransaksitiketResponse" message="tns:IService1_edittransaksitiket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletetransaksitiket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletetransaksitiket" message="tns:IService1_deletetransaksitiket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletetransaksitiketResponse" message="tns:IService1_deletetransaksitiket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="film">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/film" message="tns:IService1_film_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/filmResponse" message="tns:IService1_film_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editfilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editfilm" message="tns:IService1_editfilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editfilmResponse" message="tns:IService1_editfilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletefilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletefilm" message="tns:IService1_deletefilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletefilmResponse" message="tns:IService1_deletefilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="statustiket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/statustiket" message="tns:IService1_statustiket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/statustiketResponse" message="tns:IService1_statustiket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataTransaksi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DataTransaksi" message="tns:IService1_DataTransaksi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DataTransaksiResponse" message="tns:IService1_DataTransaksi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DataFilm" message="tns:IService1_DataFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DataFilmResponse" message="tns:IService1_DataFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StatusTiket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StatusTiket" message="tns:IService1_StatusTiket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StatusTiketResponse" message="tns:IService1_StatusTiket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataRegist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DataRegist" message="tns:IService1_DataRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DataRegistResponse" message="tns:IService1_DataRegist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="transaksitiket">
      <soap:operation soapAction="http://tempuri.org/IService1/transaksitiket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edittransaksitiket">
      <soap:operation soapAction="http://tempuri.org/IService1/edittransaksitiket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetransaksitiket">
      <soap:operation soapAction="http://tempuri.org/IService1/deletetransaksitiket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="film">
      <soap:operation soapAction="http://tempuri.org/IService1/film" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editfilm">
      <soap:operation soapAction="http://tempuri.org/IService1/editfilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletefilm">
      <soap:operation soapAction="http://tempuri.org/IService1/deletefilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statustiket">
      <soap:operation soapAction="http://tempuri.org/IService1/statustiket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataTransaksi">
      <soap:operation soapAction="http://tempuri.org/IService1/DataTransaksi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataFilm">
      <soap:operation soapAction="http://tempuri.org/IService1/DataFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusTiket">
      <soap:operation soapAction="http://tempuri.org/IService1/StatusTiket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRegist">
      <soap:operation soapAction="http://tempuri.org/IService1/DataRegist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceTIXMovie/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>